<Page [ngClass]="'article'" [title]="'投诉与建议'" [subTitle]="status" [spacing]="false">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>投诉电话</p>
      </div>
      <a class="weui-cell__ft" href="tel:3831240">3831240</a>
    </div>
  </div>
  <div class="weui-cells__title">您可以打电话也可以填写下面的表单</div>
  <hr />
  <div class="weui-cells__title">分类</div>
  <div class="weui-cells weui-cells_radio">
    <label class="weui-cell weui-check__label" for="radio-{{i.id}}" *ngFor="let i of radio">
      <div class="weui-cell__bd">
        <p>{{i.name}}</p>
      </div>
      <div class="weui-cell__ft">
        <input type="radio" class="weui-check" [(ngModel)]="model.type" name="type" [value]="i.id" id="radio-{{i.id}}" />
        <span class="weui-icon-checked"></span>
      </div>
    </label>
  </div>
  <div class="weui-cells__title">情况描述</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="请输入文字描述" rows="5" [(ngModel)]="model.content" name="content" weui-textarea weui-cn="1"
          maxlength="300"></textarea>
      </div>
    </div>
  </div>
  <!--图片上传-->
  <div class="weui-gallery" id="gallery" style="opacity: 1; display: none;">
    <span class="weui-gallery__img" id="galleryImg" style="background-image:url()"></span>
    <div class="weui-gallery__opr">
      <a href="javascript:" class="weui-gallery__del">
        <i class="weui-icon-delete weui-icon_gallery-delete"></i>
      </a>
    </div>
  </div>
  <div class="weui-cells__title" *ngIf="status!=''">图片上传</div>
  <div class="weui-cells" id="uploader" *ngIf="status!=''">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles"></ul>
            <div class="weui-uploader__input-box">
              <button id="imgbtn" class="weui-uploader__input" type="button" (click)="uploadImage"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-cells__title">联系电话</div>
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd weui-cell_primary">
        <input class="weui-input" type="tel" placeholder="请输入你的联系方式" [(ngModel)]="model.phone" name="phone" weui-input="tel" />
      </div>
    </div>
  </div>
  <div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary" type="button" (click)="formsubmit()">提交</button>
  </div>
</Page>