<Page [ngClass]="'article'" [title]="'梧州珍宝巴士有限公司线路、站点一览表'" [subTitle]="'2019年7月'" [spacing]="false">
  <article class="weui-article">
    <h1>1路：新村—云龙桥</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>新村、五一塑料厂、钱鉴、钱鉴车站、二桥东、世纪园、龙母庙、桂江路、文华中心（梧州历史文化长廊）、中山路口、大厦、桂东医院、云龙桥（丰业半山一品）</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>云龙桥（丰业半山一品）、桂东医院、大厦、中山路口、文华中心（梧州历史文化长廊）、桂江路、龙母庙、二桥东、钱鉴车站、钱鉴、五一塑料厂、新村</p>
    </section>
    <h1>2路：机场路—文化路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>机场路、丰业装饰市场、大岭岗、中医院、广电中心、芝麻城、新兴三路、大塘、四中、太阳广场、新兴、潘塘公园、红会医院、西堤一路、文华中心、中山路、文化路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>文化路、河滨公园、文澜路、保险公司、潘塘公园、新兴、四中、大塘、市政广场、新兴三路、中医院、大岭岗、机场路</p>
    </section>
    <h1>3路：市人民医院—云龙桥</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>市人民医院、文冲变电站、中央粮库、三龙大道中、梧州高中、玫瑰湖公园、丰业·玫瑰园、梧州汽车站、七中、中医院、泰基巴黎春天、里湖、两广市场、新兴二路中、新闻路口、京梧、新兴西环路口、大塘、四中、太阳广场、新兴、潘塘公园、红会医院、文华中心、大厦、桂东医院、云龙桥（丰业半山一品）</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>云龙桥（丰业半山一品）、桂东医院、大厦、工人医院、文化路、河滨公园、文澜路、保险公司、潘塘公园、新兴、四中、大塘、新兴西环路口、京梧、新闻路口、新兴二路中、两广市场、里湖、泰基巴黎春天、七中、梧州汽车站、丰业·玫瑰园、玫瑰湖公园、梧州高中、三龙大道中、梧州职业学院、中央粮库、文冲变电站、市人民医院</p>
    </section>
    <h1>4路：阜民路—粤桂试验区（江北）</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>阜民路、中山路口、大厦、桂东医院、云龙花园、龙船冲、李家庄、友利山庄、扶典（第二人民医院）、森林公园、分界、月亮湾、都连口、光华、粤桂试验区（江北）</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>粤桂试验区（江北）、光华、都连口、月亮湾、分界、森林公园、扶典（第二人民医院）、友利山庄、李家庄、龙船冲、云龙花园、云龙桥（云龙小区）、桂东医院、大厦、阜民路</p>
    </section>
    <h1>5路：（停开）中山路—龙圩</h1>
    <h1>6路：阜民路—华堂</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>阜民路、中山路口、大厦、桂东医院、云龙花园、龙船冲、李家庄、友利山庄、扶典（第二人民医院）、森林公园、分界、月亮湾、都连口、光华（思扶冲口）、鼓头、白洲、思扶小学、六田、高简、华堂</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>华堂、高简、六田、思扶小学、白洲、鼓头、光华（思扶冲口）、都连口、月亮湾、分界、森林公园、扶典（第二人民医院）、友利山庄、李家庄、龙船冲、云龙花园、云龙桥（云龙小区）、桂东医院、大厦、阜民路</p>
    </section>
    <h1>7路：梧州学院—中山路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>梧州学院、原炭素厂、富民、东山冲、富江、珍宝巴士公司、蝶山一路、大学路文澜路口、文澜路、文华中心、中山路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>中山路、河滨公园、旺城广场、榜山公园、富江、东山冲、富民、原炭素厂、梧州学院</p>
    </section>
    <h1>8路：阜民路—塘源</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>阜民路、中山路口、大厦、桂东医院、旺步头、市船厂、第三人民医院、凉冲口、造漆厂、横石口、二化厂、一化厂、上源、塘源</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>塘源、上源、一化厂、二化厂、横石口、造漆厂、凉冲口、第三人民医院、市船厂、旺步头、桂东医院、大厦、阜民路</p>
    </section>
    <h1>9路：长洲岛总站—阜民路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>长洲岛总站（盈洋家具广场）、矿产仓、高旺、原第八地质队、梧州电子工程学校、八宝塘、国家体训基地、苏屋、兴华船厂、火山隧道、火山油库、旺步头、桂东医院、大厦、阜民路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>阜民路、中山路口、大厦、桂东医院、旺步头、火山油库、火山隧道、兴华船厂、苏屋、国家体训基地、八宝塘、梧州电子工程学校、原第八地质队、高旺、矿产仓、西江桥南、长洲岛总站（盈洋家具广场）</p>
    </section>
    <h1>10路：莲花山—阜民路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>莲花山(崇锦宝石加工基地）、锅炉厂、六中、莲花大桥、仙凤山、梧州学院体育馆、梧州学院、原炭素厂、富民、东山冲、富江、榜山公园、旺城广场、河滨公园、阜民路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>阜民路、河滨公园、旺城广场、榜山公园、富江、东山冲、富民、原炭素厂、梧州学院、梧州学院体育馆、仙凤山、莲花大桥、六中、锅炉厂、莲花山(崇锦宝石加工基地）</p>
    </section>
    <h1>11路：枣冲小区—云龙桥</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>枣冲小区、枣冲小区路口、供电局、玛丽娅妇产医院、步埠、步埠路口、文澜路、西堤一路、文华中心、大厦、桂东医院、云龙桥（丰业半山一品）</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>云龙桥（丰业半山一品）、桂东医院、大厦、工人医院、文化路、河滨公园、旺城广场、榜山公园、妇幼保健院、步埠路口、步埠、玛丽娅妇产医院、供电局、枣冲小区路口、枣冲小区</p>
    </section>
    <h1>12路：市人民医院—中山路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>市人民医院、文冲变电站、中央粮库、三龙大道中、梧州高中、玫瑰湖公园、丰业·玫瑰园、梧州汽车站、七中、中医院、广电中心、芝麻城、新兴三路、丰业花园、市政广场、大塘、四中、太阳广场、新兴、潘塘公园、红会医院、文华中心、中山路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>中山路、文化路、文澜路、保险公司、潘塘公园、新兴、四中、大塘、市政广场、新兴三路、七中、梧州汽车站、丰业·玫瑰园、玫瑰湖公园、梧州高中、三龙大道中、梧州职业学院、中央粮库、文冲变电站、市人民医院</p>
    </section>
    <h1>13路：毅德城—文化路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>毅德城、平浪花园毅德、毅德国际博览城、兴龙路、红岭路兴龙路口、红岭总站、红岭小区、梧州汽车站、七中、中医院、泰基巴黎春天、里湖、两广市场、新兴二路中、新闻路口、京梧、新兴西环路口、公安万秀分局、上冲小区、市党校、步埠、步埠路口、文澜路、中山路、文化路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>文化路、河滨公园、旺城广场、榜山公园、妇幼保健院、步埠路口、步埠、市党校、上冲小区、公安万秀分局、新兴西环路口、京梧、新闻路口、新兴二路中、两广市场、里湖、泰基巴黎春天、七中、梧州汽车站、红岭小区、红岭总站、红岭路兴龙路口、兴龙路、毅德国际博览城、平浪花园毅德、毅德城</p>
    </section>
    <h1>14路：阜民路—下三云</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>阜民路、文化路、河滨公园、旺城广场、榜山公园、怡景市场、丰业·紫荆花园、下三云</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>下三云、丰业·紫荆花园、怡景市场、蝶山一路、大学路文澜路口、河滨公园、阜民路</p>
    </section>
    <h1>15路：（暂停开）大厦—新村—旺甫</h1>
    <h1>16路：旺甫-阜民路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>旺甫、旺甫养护站、平朗冲、大新村、双桥村、荒川化学、高新区2号站、高新园、河口村委、制药集团、莲花桥北、莲花大桥、仙凤山、紫竹桥、五一塑料厂、钱鉴、钱鉴车站、二桥东、世纪园、龙母庙、桂江路、文华中心、中山路口、阜民路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>阜民路、文华中心（梧州历史文化长廊）、桂江路、龙母庙、二桥东、钱鉴车站、钱鉴、五一塑料厂、紫竹桥、仙凤山、莲花大桥、莲花桥北、制药集团、河口村委、大印、高新区、高新区2号站、荒川化学、双桥村、大新村、平朗冲、旺甫养护站、旺甫</p>
    </section>
    <h1>17路：毅德城—睦邻</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>毅德城、平浪花园毅德、平浪变电站、平浪小学、平浪、永达钢铁厂、丰盈公司、不锈钢工业园、新安、睦邻</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>睦邻、新安、不锈钢工业园、丰盈公司、永达钢铁厂、平浪、平浪小学、平浪变电站、平浪花园毅德、毅德城</p>
    </section>
    <h1>18路：八中—中医院</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>八中、白云山公园、龙母庙、北环路口、大中路、河滨公园、文澜路、保险公司、潘塘公园、新兴、四中、大塘、市政广场、丰业花园、芝麻城、中医院</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>中医院、芝麻城、丰业花园、市政广场、大塘、四中、太阳广场、新兴、潘塘公园、红会医院、文澜路、河滨公园、大南路、文华中心（梧州历史文化长廊）、西门口、大中路、北环路口、龙母庙、白云山公园、八中</p>
    </section>
    <h1>19路：八中—二桥小区</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>八中、白云山公园、龙母庙、北环路口、大中路、河滨公园、旺城广场、榜山公园、富江、东山冲、富民、原炭素厂、二桥小区</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>二桥小区、梧州学院、原炭素厂、富民、东山冲、富江、榜山公园、旺城广场、河滨公园、大南路、文华中心（梧州历史文化长廊）、西门口、大中路、北环路口、龙母庙、白云山公园、八中</p>
    </section>
    <h1>20路：毅德城—新村</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>毅德城、平浪花园毅德、毅德国际博览城、毅德城招商中心、红岭总站、红岭小区、梧州汽车站、七中、中医院、广电中心、芝麻城、新兴三路、大塘、四中、太阳广场、新兴、潘塘公园、红会医院、文澜路、旺城广场、榜山公园、富江、东山冲、富民、原炭素厂、梧州学院、二桥东、钱鉴车站、钱鉴、五一塑料厂、新村</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>新村、五一塑料厂、钱鉴、钱鉴加油站、钱鉴车站、二桥东、梧州学院、原炭素厂、富民、东山冲、富江、榜山公园、旺城广场、文澜路、保险公司、潘塘公园、新兴、四中、大塘、市政广场、新兴三路、七中、梧州汽车站、舜帝大道、毅德城招商中心、毅德国际博览城、平浪花园毅德、毅德城</p>
    </section>
    <h1>21路：长洲岛总站—新村</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>长洲岛总站（盈洋家具广场）、丰业装饰市场、大岭岗、中医院、泰基巴黎春天、里湖、两广市场、新兴二路中、新闻路口、京梧、新兴西环路口、公安万秀分局、上冲小区、市党校、玛丽娅妇产医院、供电局、枣冲、民政局、东山冲、富民、原炭素厂、梧州学院、二桥东、钱鉴车站、钱鉴、五一塑料厂、新村</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>新村、五一塑料厂、钱鉴、钱鉴加油站、钱鉴车站、二桥东、梧州学院、原炭素厂、富民、东山冲、民政局、枣冲、供电局、玛丽娅妇产医院、市党校、上冲小区、公安万秀分局、新兴西环路口、京梧、新闻路口、新兴二路中、两广市场、里湖、泰基巴黎春天、中医院、大岭岗、丰业装饰市场、长洲岛总站（盈洋家具广场）</p>
    </section>
    <h1>22路：龙船冲—下冲小区（因下冲小区棚户改造，终点站暂时设在太阳广场）</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>龙船冲、云龙花园、云龙桥（云龙小区）、桂东医院、大厦、阜民路、文化路、河滨公园、旺城广场、榜山公园、妇幼保健院、蝶山一路、鸡爪山、潘塘公园、新兴、太阳广场</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>太阳广场、逸夫小学、鸡爪山、蝶山一路、大学路文澜路口、河滨公园、阜民路、大厦、桂东医院、云龙花园、龙船冲</p>
    </section>
    <h1>23路：龙骨冲—四恩寺</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>龙骨冲、龙骨冲小区、龙骨冲口、鸡爪山、蝶山一路、大学路文澜路口、河滨公园、阜民路、云盖路、石鼓冲口、石鼓冲、四恩寺（原蛇园）</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>四恩寺（原蛇园）、石鼓冲、石鼓冲口、云盖路、工人医院、阜民路、西堤一路、红会医院、新华路、潘塘公园、龙骨冲口、龙骨冲小区、龙骨冲</p>
    </section>
    <h1>24路：龙船冲—龙平</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>龙平、龙平小学、市人民医院、文冲变电站、中央粮库、三龙大道中、梧州高中、玫瑰湖公园、丰业·玫瑰园、梧州汽车站、七中、白后、石基头、木材厂、工人文化宫、市政广场、江滨国际大酒店、奥奇丽路口、西堤三路、丰业·蓝天港湾、新华路口、红会医院、西堤一路、中山路口、大厦、桂东医院、云龙花园、龙船冲</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>龙船冲、云龙花园、云龙桥（云龙小区）、桂东医院、大厦、中山路口、西堤一路、红会医院、丰业·蓝天港湾、日化路口、西堤三路、奥奇丽路、江滨国际大酒店、市政广场、工人文化宫、冬湖路口、木材厂、石基头、白后、船舶检验局、婆埇泵站、甘屋、市政务服务中心、三龙大道中、梧州职业学院、中央粮库、文冲变电站、市人民医院、龙平小学、龙平</p>
    </section>
    <h1>25路：阜民路—圣文园</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>阜民路、中山路口、大厦、桂东医院、旺步头、旺步村委、旺步小学、司马咀、金宕、白社、大路垌、学咀、圣文园</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>圣文园、学咀、大路垌、白社、金宕、司马咀、旺步小学、旺步村委、旺步头、桂东医院、大厦、阜民路</p>
    </section>
    <h1>26路：大塘—旺甫</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>大塘、四中、太阳广场、新兴、潘塘公园、红会医院、文澜路、旺城广场、榜山公园、富江、东山冲、富民、原炭素厂、梧州学院、梧州学院体育馆、仙凤山、莲花大桥、莲花桥北、制药集团、河口村委、大印、高新区、高新区2号站、荒川化学、双桥村、大新村、平朗冲、旺甫养护站、旺甫</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>旺甫、旺甫养护站、平朗冲、大新村、双桥村、荒川化学、高新区2号站、高新区、河口村委、制药集团、莲花桥北、莲花大桥、仙凤山、梧州学院体育馆、梧州学院、原炭素厂、富民、东山冲、富江、榜山公园、文澜路、保险公司、潘塘公园、新兴、四中、大塘</p>
    </section>
    <h1>27路（暂停开）：太和花园—龙船冲</h1>
    <h1>28路：两广市场—白云山公园</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>两广市场、新兴二路中、新闻路口、京梧、新兴西环路口、公安万秀分局、上冲小区、市党校、步埠、步埠路口、珍宝巴士公司、榜山公园、文澜路、西堤一路、中山路、白云路口、白云路、八中、白云山公园</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>白云山公园、龙母庙、北环路口、大中路、河滨公园、旺城广场、榜山公园、珍宝巴士公司、步埠路口、步埠、市党校、上冲小区、公安万秀分局、新兴西环路口、京梧、新闻路口、新兴二路中、两广市场</p>
    </section>
    <h1>29路：两广市场—富民</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>两广市场、新兴二路中、新闻路口、京梧、新兴西环路口、大塘、四中、太阳广场、新兴、潘塘公园、鸡爪山、蝶山一路、步埠、玛丽娅妇产医院、供电局、枣冲、民政局、富民泵站、翠微山庄、民坊里、富民</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>富民、东山冲、民政局、枣冲、供电局、玛丽娅妇产医院、步埠、 蝶山一路、鸡爪山、潘塘公园、新兴、四中、大塘、新兴西环路口、京梧、新闻路口、新兴二路中、两广市场</p>
    </section>
    <h1>30路：惠民小区—大冲</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>惠民小区、里湖、泰基巴黎春天、七中、梧州汽车站、丰业·玫瑰园、玫瑰湖公园、梧州高中、中恒体育场、梧州游泳馆、玫瑰湖恒祥豪苑、职业学院西门、中央粮库、文冲变电站、市人民医院（新址）、龙平小学、龙顶、昊德机动车检测、长洲水利枢纽、福全、龙华、大冲</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>大冲、龙华、福全、长洲水利枢纽、昊德机动车检测、龙顶、龙平小学、市人民医院（新址）、文冲变电站、中央粮库、职业学院西门、玫瑰湖恒祥豪苑、梧州游泳馆、中恒体育场、梧州高中、玫瑰湖公园、丰业·玫瑰园、梧州汽车站、七中、中医院、泰基巴黎春天、里湖、惠民小区</p>
    </section>
    <h1>31路：梧州火车站—莲花山</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>梧州火车站、青少年活动中心、湖滨路、梧州汽车站、七中、中医院、广电中心、芝麻城、新兴三路、丰业花园、市政广场、新兴西环路口、公安万秀分局、上冲小区、市党校、玛丽娅妇产医院、供电局、枣冲、民政局、东山冲、富民、原炭素厂、梧州学院、梧州学院体育馆、仙凤山、莲花大桥、六中、锅炉厂、莲花山(崇锦宝石加工基地）</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>莲花山(崇锦宝石加工基地）、锅炉厂、六中、莲花大桥、仙凤山、梧州学院体育馆、梧州学院、原炭素厂、富民、东山冲、民政局、枣冲、供电局、玛丽娅妇产医院、市党校、上冲小区、公安万秀分局、新兴西环路口、新兴三路、七中、梧州汽车站、湖滨路、青少年活动中心、梧州火车站</p>
    </section>
    <h1>32路：富江—儒岩</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>富江、东山冲、富民、原炭素厂、梧州学院、梧州学院体育馆、仙凤山、儒隆隧道、闵港金属制品厂、儒岩</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>儒岩、闵港金属制品厂、儒隆隧道、仙凤山、梧州学院体育馆、梧州学院、原炭素厂、富民、东山冲、富江</p>
    </section>
    <h1>35路（停开）：旺甫—夏郢</h1>
    <h1>36路（停开）：长洲岛总站—文化路</h1>
    <h1>37路(停开）：两广市场—龙平</h1>
    <h1>38路：梧州职业学院—枣冲小区</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>梧州职业学院、三龙大道中、梧州高中、玫瑰湖公园、丰业·玫瑰园、梧州汽车站、七中、泰基巴黎春天、里湖、两广市场、新兴二路中、新闻路口、京梧、新兴西环路口、大塘、四中、太阳广场、义乌商品城广场、上冲小区、市党校、玛丽娅妇产医院、供电局、枣冲小区路口、枣冲小区</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>枣冲小区、枣冲小区路口、供电局、玛丽娅妇产医院、市党校、上冲小区、义乌商品城广场、太阳广场、四中、大塘、新兴西环路口、京梧、新闻路口、新兴二路中、两广市场、里湖、泰基巴黎春天、七中、梧州汽车站、丰业·玫瑰园、玫瑰湖公园、梧州高中、三龙大道中、梧州职业学院</p>
    </section>
    <h1>39路：（暂停开）机场路—寺埇</h1>
    <h1>40路(停开）：惠民小区—宝石园小区</h1>
    <h1>41路：枣冲小区—宝石园小区（下冲小区修路绕新兴一路营运）</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>枣冲小区、枣冲小区路口、供电局、玛丽娅妇产医院、步埠、蝶山一路、鸡爪山、潘塘公园、新兴、太阳广场、龙山路、义乌商品城广场、义乌商品城、公安万秀分局、新兴西环路口、京梧、灏景玥城、狮卧山休闲公园、宝石园小区</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>宝石园小区、狮卧山休闲公园、灏景玥城、京梧、新兴西环路口、义乌商品城、义乌商品城广场、龙山路、太阳广场、新兴、潘塘公园、鸡爪山、蝶山一路、步埠、玛丽娅妇产医院、供电局、枣冲小区路口、枣冲小区</p>
    </section>
    <h1>42路：大塘—太和花园</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>大塘、江滨国际大酒店、奥奇丽路口、西堤三路、丰业蓝天港湾、新华路、潘塘公园、鸡爪山、蝶山一路、珍宝巴士公司、富江、东山冲、太和冲口、东山冲小区、东山冲社区、太和花园</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>太和花园、东山冲社区、东山冲小区、富民、东山冲、富江、妇幼保健院、蝶山一路、鸡爪山、潘塘公园、日化路、日化路口、西堤三路、吉祥路、大塘</p>
    </section>
    <h1>43路：义乌商品城-里新里</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>义乌商品城、义乌商品城广场、龙山路、太阳广场、四中、大塘、市政广场、新兴三路、芝麻城、梧州汽车站、红岭小区、红岭总站、红岭路兴龙路口、九公里、恒声公司、珍宝巴士车场、垃圾处理场、里新里</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>里新里、垃圾处理场、珍宝巴士车场、恒声公司、九公里、红岭路兴龙路口、红岭总站、红岭小区、梧州汽车站、七中、中医院、广电中心、新兴三路、大塘、四中、太阳广场、龙山路、义乌商品城广场、义乌商品城</p>
    </section>
    <h1>45路(停开）：旺甫—红山</h1>
    <h1>46路：梧州火车站—中山路</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>梧州火车站、兴龙路西、红岭1号小区、红岭路兴龙路口、红岭总站、红岭小区、梧州汽车站、七中、中医院、广电中心、芝麻城、新兴三路、大塘、四中、太阳广场、新兴、潘塘公园、红会医院、文华中心、中山路</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>中山路、文化路、河滨公园、文澜路、保险公司、潘塘公园、新兴、四中、大塘、市政广场、新兴三路、七中、梧州汽车站、红岭小区、红岭总站、红岭路兴龙路口、红岭1号小区、兴龙路西、梧州火车站</p>
    </section>
    <h1>47路：（停开）两广市场—古亮</h1>
    <h1>48路:枣冲—梧州南站</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>枣冲小区、枣冲小区路口、民政局、富江、榜山公园、旺城广场、河滨公园、大南路、文华中心、中山路口、大厦、桂东医院、旺步头、火山油库、火山隧道、兴华船厂、苏屋、国家体训基地、八宝塘、梧州电子工程学校、原第八地质队、高旺、矿产仓、商贸学校、预备役工兵团、恩义小学、龙湖国际商业城、苍梧大道东、苍梧大道广场、龙城路小转盘、龙城花园路口、龙圩大转盘北、龙圩大转盘西、中团变电站、龙腾金院、梧州南站</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>梧州南站、龙腾金院、中团变电站、龙圩大转盘西、龙圩大转盘北、龙城龙兴路口、龙城银兴路口、政贤路广场、苍梧大道东、恩义小学、预备役工兵团、商贸学校、矿产仓、高旺、原第八地质队、梧州电子工程学校、八宝塘、国家体训基地、苏屋、兴华船厂、火山隧道、火山油库、旺步头、桂东医院、大厦、中山路、河滨公园、旺城广场、榜山公园、富江、民政局、枣冲小区路口、枣冲小区</p>
    </section>
    <h1>49路：梧州南站—旺甫</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>梧州南站、龙腾金院、中团变电站、龙圩大转盘西、龙圩大转盘北、龙城龙兴路口、龙城银兴路口、政贤路广场、苍梧大道东、恩义小学、预备役工兵团、商贸学校、盈洋家具广场、丰业装饰市场、大岭岗、中医院、广电中心、芝麻城、新兴三路、大塘、四中、太阳广场、新兴、潘塘公园、红会医院、文澜路、旺城广场、榜山公园、富江、东山冲、原炭素厂、梧州学院、梧州学院体育馆、仙凤山、莲花大桥、莲花桥北、制药集团、河口村委、高新区、高新区2号站、双桥村、大新村、平朗冲、旺甫养护站、旺甫</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>旺甫、旺甫养护站、平朗冲、大新村、双桥村、高新区2号站、高新区、大印、河口村委、制药集团、莲花桥北、莲花大桥、仙凤山、梧州学院体育馆、梧州学院、原炭素厂、东山冲、富江、榜山公园、旺城广场、文澜路、保险公司、潘塘公园、新兴、四中、大塘、市政广场、新兴三路、中医院、大岭岗、丰业装饰市场、盈洋家具广场、商贸学校、预备役工兵团、恩义小学、龙湖国际商业城、苍梧大道东、苍梧大道广场、龙城路小转盘、龙城花园路口、龙圩大转盘北、龙圩大转盘西、中团变电站、龙腾金院、梧州南站</p>
    </section>
    <h1>50路：江滨国际大酒店—梧州南站</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>江滨国际大酒店、市政广场、新兴三路、中医院、七中、梧州汽车站、红岭小区、红岭总站、红岭路兴龙路口、红岭1号小区、兴龙路西、青少年活动中心、湖滨路、丰业·玫瑰园、玫瑰湖公园、梧州高中、三龙大道中、梧州职业学院、中央粮库、文冲变电站、市人民医院、龙平小学、新城、十二中、恩义小学、政贤路口、苍海旅游区、城南大道路口、龙圩大转盘西、中团变电站、龙腾金院、梧州南站</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>梧州南站、龙腾金院、中团变电站、龙圩大转盘西、城南大道路口、苍海旅游区、政贤路口、十二中、新城、龙平小学、市人民医院（新址）、文冲变电站、中央粮库、三龙大道中、梧州高中、玫瑰湖公园、丰业·玫瑰园、湖滨路、青少年活动中心、兴龙路西、红岭1号小区、红岭路兴龙路口、红岭总站、红岭小区、梧州汽车站、七中、中医院、广电中心、芝麻城、新兴三路、江滨国际大酒店</p>
    </section>
    <h1>粤桂试验区公交专线：大塘—粤桂公共服务中心</h1>
    <section>
      <h2 class="title">上行</h2>
      <p>大塘、江滨国际大酒店、奥奇丽路口、西堤三路、丰业蓝天港湾、新华路口、红会医院、文澜路、河滨公园、中山路（原中山商场）、中山路口、大厦、桂东医院、旺步头、旺步小学、国光产业园、综合保税区、创客中心、东盟环保基地、南山公园、粤桂公共服务中心</p>
    </section>
    <section>
      <h2 class="title">下行</h2>
      <p>粤桂公共服务中心、南山公园、东盟环保基地、创客中心、综合保税区、国光产业园、旺步小学、旺步头、桂东医院、大厦、中山路、河滨公园、文澜路、红会医院、丰业蓝天港湾、日化路口、西堤三路、吉祥路、大塘</p>
    </section>
  </article>
</Page>