<Page [ngClass]="'article'" [title]="'在线充值'" [subTitle]="''" [spacing]="false">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell_bd weui-cell_primary">
        <input class="weui-input" type="number" pattern="^\d+(?:\.\d{1,4})?$" placeholder="请填写充值金额(￥)">
      </div>
    </div>
  </div>
  <p class="weui-cells__title" style="padding: 10px;">温馨提示:各大银行每日单笔限额500元，建议每次充值额度不要超过500元</p>
  <div class="weui-cells weui-cells_radio">
    <label class="weui-cell weui-check__label" for="radio-{{i.id}}" *ngFor="let i of radio">
      <div class="weui-cell__bd">
        <p>{{i.name}}</p>
      </div>
      <div class="weui-cell__ft">
        <input type="radio" class="weui-check" [(ngModel)]="res.radio" name="radio1" [value]="i" id="radio-{{i.id}}">
        <span class="weui-icon-checked"></span>
      </div>
    </label>
  </div>
  <div style="margin-top:1em">
    <a class="weui-btn weui-btn_primary" (click)="okClick()">确定</a>
  </div>
</Page>