<Page [ngClass]="'article'" [title]="'企业简介'" [subTitle]="''" [spacing]="false">
  <article class="weui-article">
    <p>
      <img src="/assets/images/bus.jpg" />
    </p>
    <p class="text">
      梧州珍宝巴士有限公司是于2004年1月对市公共汽车公司改制成立的外资企业，主要经营市内公共交通客运、汽车修理业务。
    </p>
    <p class="text">
      公司下设综合办、营运服务部、安全部、技术部、财务部、人事部、IC卡管理中心等七个职能部门、两个车队、一个修理厂。
    </p>
    <p class="text">
      我公司以董事会“市民满意、政府满意、员工满意”的要求为宗旨，通过实施“公交进小区，村村通公交”的战略，以“珍宝真情真服务”为服务理念，取得北京世标ISO9000质量认证证书，并以此规范企业行为，努力完善我市公交线网，塑造珍宝巴士品牌形象。
    </p>
  </article>
</Page>