<Page [ngClass]="'article'" [title]="'企业文化'" [subTitle]="''" [spacing]="false">
  <article class="weui-article">
    <p class="text">
      公司先后获得“广西五一劳动奖状”、“自治区交通安全先进单位”、“自治区厂务公开民主管理先进单位”、“梧州市文明示范窗口单位”、“梧州市优秀企业”、“梧州市履行社会责任贡献突出外商企业”、“梧州市学习型标兵单位”等几十项区、市荣誉称号，为梧州市经济发展作出了重大贡献。
    </p>
    <p>
      <img src="/assets/images/1.jpg" />
    </p>
    <p>
      保障春运交通安全，营造节日祥和氛围
    </p>
    <p>
      <img src="/assets/images/2.jpg" />
    </p>
    <p>
      珍宝巴士庆“三八”妇女节登山健身活动
    </p>
    <p>
      <img src="/assets/images/3.jpg" />
    </p>
    <p>
      梧州珍宝巴士有限公司十周年志庆
    </p>
    <p>
      <img src="/assets/images/4.jpg" />
    </p>
    <p>
      珍宝巴士公司2014年消防、安防应急处置演练
    </p>
    <p>
      <img src="/assets/images/5.jpg" />
    </p>
    <p>
      <img src="/assets/images/6.jpg" />
    </p>
    <p>
      五一飞机场活动
    </p>
    <p>
      <img src="/assets/images/7.jpg" />
    </p>
    <p>
      “安全行车礼貌服务月”总结表彰大会
    </p>
  </article>
</Page>