<Page [ngClass]="'article'" [title]="'人才招聘'" [subTitle]="''" [spacing]="false">
  <article class="weui-article">
    <p class="text">
      为满足城市运营业务不断发展的需求，以及公交事业蓬勃发展的新形势，现面向社会诚聘公交司机。
    </p>
    <h2 class="title">
      应聘条件
    </h2>
    <ol>
      <li>男性年龄55周岁以下，女性年龄45周岁以下；</li>
      <li>男性身高1.60米以上，女性身高1.55米以上；</li>
      <li>身体健康、五官端正、无色盲色弱、无纹身、无犯罪记录、三年无重大交通事故、无生理残疾，无危及运营安全的疾病或者病史；</li>
      <li>初中以上学历；</li>
      <li>持有大客车A1或A3驾驶证；</li>
    </ol>
    <h2 class="title">
      招聘流程
    </h2>
    <p class="text">
      报名→面试→体检合格→岗前知识培训→上线实习期（熟练驾驶、单独驾驶）→综合考核→签订劳动合同
    </p>
    <h2 class="title">
      薪酬待遇
    </h2>
    <p class="text">
      公司提供具有市场竞争力的薪酬待遇，依法签订劳动合同，缴纳五险一金，享受带薪年休假，节日福利等。
    </p>
    <h2 class="title">
      报名时间
    </h2>
    <p class="text">
      时间：周一至周五，8:00—11:30 15:00-17:30
    </p>
    <p class="text">
      地点：梧州市文澜路88号（梧州公交办公大楼）
    </p>
    <h2 class="title">
      报名电话
    </h2>
    <p class="text">
      <a href="tel:07743862810">0774-3862810</a> ，人事部
    </p>
    <h2 class="title">
      应聘要求
    </h2>
    <p class="text">
      应聘人员请持身份证及驾驶证原件及复印件，一寸免冠彩照5张报名
    </p>
  </article>
</Page>