<Page [ngClass]="'article'" [title]="'人才招聘'" [subTitle]="''" [spacing]="false">
  <article class="weui-article">
    <p class="text">
      梧州市城建公共交通有限公司，于2018年12月24日依据《中华人民共和国公司法》及其他有关法律、行政法规的规定，由梧州市城建城市投资运营集团有限公司出资注册成立，公司注册资本1000万元，公司地址：梧州市万秀区文澜路88号，现法定代表人：李向东，经营范围为城市公共交通运输；机动车修理与维护；汽车充电服务；广告设计、代理、发布、制作；公路旅客运输。
    </p>
    <p class="text">
      公司为全部员工购买全套社保和公积金，享受带薪年休等国家法定节假日，免费乘坐市内公交车。
    </p>
    <p class="text">
      公司提供良好的晋升平台，优秀员工可以晋升为线路骨干或线路管理员。
    </p>
    <p>
      我们招聘如下驾驶员：
    </p>
    <ol>
      <li>汽车驾驶员，年龄55岁以下，持A1或A3驾证，工作地点梧州市内，工资3700-4200元。</li>
    </ol>
    <p>
      联系人：潘仿湘 联系电话：
      <a href="tel:3862810">3862810</a> ，有效期至：长期有效。
    </p>
  </article>
</Page>