<Page [ngClass]="'article'" [title]="'人才招聘'" [subTitle]="''" [spacing]="false">
  <article class="weui-article">
    <p class="text">
      梧州珍宝巴士有限公司是于2004年1月对市公共汽车公司改制成立的外资企业，主要经营市内公共交通客运、汽车修理业务
    </p>
    <p class="text">
      公司为全部员工购买全套社保和公积金，享受带薪年休等国家法定节假日，免费乘坐市内公交车。
    </p>
    <p class="text">
      公司提供良好的晋升平台，优秀员工可以晋升为线路骨干或线路管理员。
    </p>
    <p>
      我们招聘如下驾驶员：
    </p>
    <ol>
      <li>汽车驾驶员，年龄50岁以下，初中以上学历，持A1或A3驾证，工作地点梧州市内，工资2900元以上</li>
      <li>汽车驾驶员，年龄50岁以下，初中以上学历，持A2或B1驾证，工作地点梧州市内，工资2400元以上</li>
    </ol>
    <p>
      联系人：潘仿湘 联系电话：
      <a href="tel:3862810">3862810</a> ，有效期至：2017 年 8月
    </p>
  </article>
</Page>