<Page [ngClass]="'article'" [title]="'企业简介'" [subTitle]="''" [spacing]="false">
  <article class="weui-article">
    <p>
      <img src="/assets/images/bus.jpg" />
    </p>
    <p class="text">
      梧州市城建投资发展集团有限公司是直属市人民政府领导，并由市人民政府授权市国资委履行出资人职责、依法设立的国有独资公司。注册资金30亿元，资产总额近500亿元，旗下拥有50家全资及控股子公司。是一家集投资、融资、建设、开发、运营及管理为一体，以城市开发为基础，推动产城融合，促进国有资产保值增值的专业化城市建设及运营的大型综合性企业。
    </p>
    <p class="text">
      梧州公交公司是梧州市城建投资发展集团有限公司的下属子公司，主营梧州市城市公交客运服务，现有员工930余人，营运车辆578台，公交线路53条，日均运送乘客20万余人次。公司荣获“全国工人先锋号”、“广西自治区五一劳动奖状”、“自治区交通安全先进单位”、“梧州市文明示范窗口单位”等多项荣誉称号。企业成立以来，一直认真履行“城市公交为城市，人民公交为人民”的社会职责，为我市公交发展作出积极贡献。
    </p>
    <p class="text">
      为满足城市运营业务不断发展的需求，以及公交事业蓬勃发展的新形势，现面向社会诚聘公交司机。
    </p>
  </article>
</Page>