<Page [ngClass]="'article'" [title]="'服务电话'" [subTitle]="''" [spacing]="false">
  <article class="weui-article">
    <p>
        <img src="/assets/images/bus.jpg" />
    </p>
    <ul>
        <li>公司投诉电话：<a href="tel:3831240">3831240</a></li>
        <li>IC卡客服电话：<a href="tel:3820101">3820101</a></li>
        <li>包车租车电话：<a href="tel:3824227">3824227</a></li>
        <li>人才招聘电话：<a href="tel:3862810">3862810</a></li>
        <li>广告投放电话：<a href="tel:18177402431">18177402431</a></li>
    </ul>
</article>
</Page>