<weui-swiper [options]="options">
  <div class="swiper-container swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide swiper-item" *ngFor="let i of list">
            <img src="{{getImageUrl(i)}}">
          </div>
      </div>
  </div>
</weui-swiper>
<div class="weui-cells__title">梧州珍宝巴士(Test)</div>
<div class="weui-cells">
  <a class="weui-cell weui-cell_access" routerLink="/about">
    <div class="weui-cell__bd">
      <p>企业简介</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/contact">
    <div class="weui-cell__bd">
      <p>企业文化</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/jobs">
    <div class="weui-cell__bd">
      <p>人才招聘</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/phone">
    <div class="weui-cell__bd">
      <p>服务电话</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/dispatch">
    <div class="weui-cell__bd">
      <p>车辆一览(beta)</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
</div>
<div footer class="weui-footer">
  <p class="weui-footer__links">
    <a href="http://www.miitbeian.gov.cn" class="weui-footer__link">桂ICP备18004339号</a>
  </p>
  <p class="weui-footer__text">Copyright © 2018 梧州珍宝巴士</p>
</div>