<weui-swiper [options]="options">
  <div class="swiper-container swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-item" *ngFor="let i of list">
        <img src="https://images.wzjbbus.com/upload/{{i.picUrl}}">
      </div>
    </div>
  </div>
</weui-swiper>
<div class="weui-cells__title">梧州珍宝巴士(Test)</div>
<div class="weui-cells">
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/about">
    <div class="weui-cell__bd">
      <p>企业简介</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/contact">
    <div class="weui-cell__bd">
      <p>企业文化</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/jobs">
    <div class="weui-cell__bd">
      <p>人才招聘</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/phone">
    <div class="weui-cell__bd">
      <p>服务电话</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/disclaimer">
    <div class="weui-cell__bd">
      <p>免责声明</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/recharge">
    <div class="weui-cell__bd">
      <p>在线充值(beta)</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="https://github.com/lishewen/jbwxui">
    <div class="weui-cell__bd">
      <p>Github</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
</div>
<div footer class="weui-footer">
  <p class="weui-footer__links">
    <a href="http://www.miitbeian.gov.cn" class="weui-footer__link">桂ICP备18004339号</a>
  </p>
  <p class="weui-footer__text">Copyright © 2018 梧州珍宝巴士</p>
</div>