<div class="weui-cells__title">梧州公交(Test)</div>
<div class="weui-cells">
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/about">
    <div class="weui-cell__bd">
      <p>企业简介</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="https://mp.weixin.qq.com/mp/homepage?__biz=MzUxOTA0NDQzMg==&hid=1&sn=918b0dfc2ee1a7a565e74f53afbf48e4">
    <div class="weui-cell__bd">
      <p>公交新闻</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/contact">
    <div class="weui-cell__bd">
      <p>企业文化</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/jobs">
    <div class="weui-cell__bd">
      <p>人才招聘</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/phone">
    <div class="weui-cell__bd">
      <p>服务电话</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/disclaimer">
    <div class="weui-cell__bd">
      <p>免责声明</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/feedback">
    <div class="weui-cell__bd">
      <p>投诉与建议</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/recharge">
    <div class="weui-cell__bd">
      <p>在线充值(beta)</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/dispatch/buslist">
    <div class="weui-cell__bd">
      <p>车辆位置一览(Beta)</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" routerLink="/staticpages/routelist">
    <div class="weui-cell__bd">
      <p>线路一览</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="https://work.wzjbbus.com/plan">
    <div class="weui-cell__bd">
      <p>发车时间表(部分)</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
  <a class="weui-cell weui-cell_access" href="https://github.com/lishewen/jbwxui">
    <div class="weui-cell__bd">
      <p>Github</p>
    </div>
    <div class="weui-cell__ft">
    </div>
  </a>
</div>
<div footer class="weui-footer">
  <p class="weui-footer__links">
    <a href="https://beian.miit.gov.cn" class="weui-footer__link">桂ICP备18004339号</a>
  </p>
  <p class="weui-footer__text">Copyright © 2020 梧州公交</p>
</div>